.btn-group {
  display: flex;
  & > * + * {
    margin-inline-start: 1.25rem;
  }

  &.space {
    justify-content: space-between;

    & > * + * {
      margin-inline-start: 1rem;
    }
  }
}

.btn {
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: center;
  padding: 0.6875rem 1.25rem;
  font-weight: 700;
  background-color: $primary;
  color: $light;
  border-radius: 3.75rem;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.05s ease-in-out;

  &:focus {
    box-shadow: 0 0 2px $dark;
    outline: none;
  }

  &:active {
    background-color: $primary-dark;
  }

  &.width-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    & > * + * {
      margin-inline-start: 0.625rem;
    }
  }

  &.expanded {
    width: 100%;
  }

  &.disable {
    background-color: $grey-400;

    &:active {
      background-color: $grey-500;
    }
  }
}
