.list {
  $inner-list-space: 0.625rem;

  & > .item-list + .item-list {
    margin-top: $inner-list-space;
  }

  .item-list {
    box-sizing: border-box;
    border-radius: $radius;
    width: 100%;
    padding: $inner-list-space 0.5rem $inner-list-space 1.25rem;
    background-color: $light;
    display: flex;
    align-items: center;

    font-size: 1.375rem;
    font-size: 1.2;

    & > * + * {
      margin-inline-start: 0.625rem;
    }

    & > .content {
      flex-grow: 1;
    }

    & > .right {
      display: flex;
      align-items: center;
    }

    &[role="button"] {
      cursor: pointer;
    }
  }
}