@keyframes fadeInUp {
  0%,
  25% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

/*-- transición fade --*/
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*-- transición fade --*/

.inUp-enter-active,
.inUp-leave-active {
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
}

.inUp-enter,
.inUp-leave-active {
  transform: translateY(100%);
}
