.poke-list {
  & .list {
    padding-bottom: 5rem;
    &::after {
      content: '';
      display: block;
      height: 5rem;
      width: 100%;
    }
  }

  & .poke-list_empty {
    .title-1 {
      margin-top: 0.625rem;
      margin-bottom: 0;
    }

    p {
      margin-top: 0.625rem;
      margin-bottom: 0;
    }

    .actions {
      margin-top: 1.5625rem;
    }
  }
}
