.poke-container {
  display: flex;

  & > .poke-image {
    margin: auto;
    width: 11.25rem;
    height: auto;
  }
}

.poke-modal {
  display: flex;
  flex-direction: column;
  height: 100%;

  & .card_content {
    flex-grow: 1;
    overflow-y: auto;
  }
}